/* Colors */

$primary: #00acc1;
$buttonhover: #26c6da;
$black: #000000;
$darkestgrey: #212121;
$darkgrey: #616161;
$middlegrey: #bdbdbd;
$lightgrey: #eeeeee;
$white: #ffffff;

/* Paddings */
$padding: 30px;

#cookies {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $white;
    z-index: 999;

    .margin {
        margin: 30px;
        display: block;
    }
  }

  .button-2 {
        background-color: $darkgrey;
        color: $white;
        font-weight: 800;
        border: 0;
        border-radius: 100px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 20px;
        min-height: 40px;
      
        &:hover {
          background-color: $middlegrey;
        }
      }

.container {
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   

    button {
        margin: 15px;
        min-width: fit-content;
    }
}

h1 {
    text-align: center;
    font-size: 36px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 20px;
  }

  #topnav {
    display: none;
    z-index: 999;
        ul {
            list-style: none;
            padding: none;
            margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
        }
  }



body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

.presentation {
  h4 {
    display: inline;
  }

  button {
    display: block;
  }

  span {
    padding: $padding;
    display: flex;
    align-items: center;
  }
}

#headphones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
  }

.infotext {
    display: flex;
    align-items: center;
    width: 170px;
    padding-left: 30px;
    height: 46px;
}

header {
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.iconic {
  padding: $padding;
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.icon {
  height: 50px;
  width: 50px;
}


.presentation {
  padding: $padding;
}

#newsletter {
  background-color: $darkgrey;
  color: $white;
  padding: $padding;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      border: 0;
      border-radius: 100px;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 20px;
      min-height: 40px;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 80%;
    max-width: 300px;
     

      &:placeholder {
        color: $middlegrey;
      }
    }
  }
}

article {
    margin: $padding;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: 7px;
    padding-bottom: 7px;


  border-left: 5px solid $primary;
  margin-bottom: 20px;
}

footer {
  background-color: $darkestgrey;
  display: block;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;

    a {
        padding: 10px;
    }

    img {
        padding: $padding;
    }

  }

  a {
    color: $white;
  }
}

button {
  background-color: $primary;
  color: $white;
  font-weight: 800;
  border: 0;
  border-radius: 100px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  min-height: 40px;

  &:hover {
    background-color: $buttonhover;
  }
}

a {
  text-decoration: none;
}



#logo {
  width: 150px;
}

@media only screen and (min-width: 768px) {
    #topnav {
        display: inline;
        position: static;
        width: fit-content;
        top: 0;
        margin-top: 0px;

        ul {
            display: flex;
        flex-direction: row;
        justify-content: flex-end;

        a {
            color: $darkgrey;
        }
        }
    }

    .burger {
        display: none;
    }

    h1 {
        font-size: 64px;
        text-align: left;
        padding-left: 30px;
    }

    h2 {
        font-size: 36px;
        width: 505px;
    }

    p {
        width: 80%;
    }

    #headphones {
        position: absolute;
        width: 40%;
        max-width: 350px;
        top: 250px;
        right: 50px;
      }

      .presentation {
        padding-bottom: 300px;
        padding-left: 100px;
        button {
            margin-left: 30px;
        }
      }

      .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        article {
            max-width: 30%;
            h2 {
                font-size: 24px;
            }
        }
      }

      #newsletter {
        padding-left: 150px;
        padding-right: 150px;
      
        form {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
      
          input {
      margin-right: 30px;
            width: 80%;
          max-width: 505px;
           
      
            &:placeholder {
              color: $middlegrey;
            }
          }
        }
      }
      
      footer {

        nav {
            position: relative;
        }

        a {
            position: relative;
            left: 20%;
        }

        img {
            position: absolute;
            left: 20%;
            bottom: 12px;
        }
      }
}

@media only screen and (min-width: 1200px) {

    #headphones {
        top: 150px;
    }

    .presentation {
        padding-bottom: 240px;
    }

    .iconic {
        padding-top: 60px;
        padding-bottom: 60px;
        h2 {
            width: fit-content;
        }
    }

    .articles {
        margin-top: 120px;
        margin-bottom: 120px;
        flex-wrap: nowrap;
        article {
         margin-right: 0;
         max-width: 25%;
        }
    }
}

